In [ ]:
# Ex 1 Criar uma tabela dados_cadastrais onde cada linha representa um funcionário e com os 
# seguintes atributos: id, nome, sobrenome, data_nasc, cpf e endereco; Criar uma tabela dados_profissionais
# com id, graduacao, cargo, salario e tempo_casa. Insira 4 registros em cada uma das tabelas.

In [2]:
# importando biblioteca 
import sqlite3

In [3]:
# Criando banco de dados e estabelecendo conexão com ele:
conn = sqlite3.connect("dados_cadastrais.db")
print(conn)

<sqlite3.Connection object at 0x0000025FD3BF26C0>

In [4]:
# Criando banco de dados e estabelecendo conexão com ele:
conn = sqlite3.connect("dados_profissionais.db")
print(conn)

<sqlite3.Connection object at 0x0000025FD3BF28A0>

In [5]:
# cursor = é através dessa variável que criamos tabelas, inserimos registros e fazemos queries de 
# operações no banco
cursor = conn.cursor()

In [6]:
# Criando nossas tabelas. O método execute recebe uma query SQL e a executa.
cursor.execute("CREATE TABLE dados_cadastrais (Id integer, nome text, sobrenome text, data_nasci integer, \
                cpf inteiro, endereco text)")

In [7]:
# Criando nossas tabelas. O método execute recebe uma query SQL e a executa.
cursor.execute("CREATE TABLE dados_profissionais (Id integer, graduacao text, cargo text, salario integer, \
                tempo_casa integer)")

In [8]:
# Inserindo dados na tabela dados_cadastrais
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')")
conn.commit()

In [9]:
# Visualizando a tabela dados_cadastrais
cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[(1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP'),
 (2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP'),
 (3, 'pedro', 'pereira', 0, 11111211786, 'rua 8 - SP'),
 (4, 'paulo', 'ribeiro', 0, 11111211123, 'rua 9 - SP')]

In [10]:
# Inserindo dados na tabela dados_profissionais
cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'matematica', 'professor', 3500.89, 3)")
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'geografia', 'orientador', 2850.80, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(3, 'historia', 'orientador', 3200.45, 1)")
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'fisica', 'professor', 1890.33, 2)")
conn.commit()

In [11]:
# Visualizando a tabela dados_profissionais
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1),
 (4, 'fisica', 'professor', 1890.33, 2)]

In [12]:
# Ex2 - Usando a tabela dados_profissionais, escreva uma query que retorne todos os campos da tabela 
# ordenando-os pela coluna tempo_casa de maneira decrescente.

cursor.execute("SELECT * FROM dados_profissionais ORDER BY tempo_casa DESC")
cursor.fetchall()

[(1, 'matematica', 'professor', 3500.89, 3),
 (4, 'fisica', 'professor', 1890.33, 2),
 (2, 'geografia', 'orientador', 2850.8, 1),
 (3, 'historia', 'orientador', 3200.45, 1)]

In [13]:
# Ex3 - Conte a quantidade de funcionários dessa empresa.

cursor.execute("SELECT COUNT (Id) FROM dados_cadastrais")
cursor.fetchall()

[(4,)]

In [14]:
# Ex4 - Usando a tabela dados_cadastrais, escreva uma query que liste apenas os funcionários que possuem 
# sobrenome "silva", ordenados pelo nome completo, ou seja, nome e sobrenome.

cursor.execute("SELECT * FROM dados_cadastrais WHERE sobrenome = 'silva' ORDER BY nome, sobrenome")
cursor.fetchall()

[(2, 'joao', 'silva', 0, 11111211889, 'rua 2 - SP'),
 (1, 'maria', 'silva', 0, 11111211313, 'rua 1 - SP')]

In [30]:
# Ex5 - Escreva uma query que liste o valor da folha de pagamento dessa empresa por cargo, usando a tabela 
# dados_profissionais.( Ou seja, somar os salários em cada cargo).

cursor.execute("SELECT cargo, SUM(salario) FROM dados_profissionais GROUP BY cargo")
cursor.fetchall()

[('orientador', 6051.25), ('professor', 5391.219999999999)]